.container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-tiny) * 0.7);
}
.label {
  font-size: var(--fsize-sm);
  color: var(--color-marine);
  font-weight: var(--fweight-md);
}
.input {
  padding: calc(var(--spacing-tiny) * 1.2);
  border: solid 1px var(--color-cool-gray-transparent);
  border-radius: var(--radius-tiny);
  outline: none;
}
