.option {
  padding: var(--spacing-tiny);
  border: solid 1px var(--color-light-gray);
  border-radius: var(--radius-tiny);
  flex-basis: 33%;
  cursor: pointer;
}

.active {
  border-color: var(--color-purplish);
  background-color: var(--color-magnolia);
}

.icon {
  margin-block: var(--spacing-tiny) calc(var(--spacing-sm) * 1.3);
}

.type {
  font-size: var(--fsize-default);
  color: var(--color-marine);
}

.price {
  display: block;
  font-size: var(--fsize-sm);
  color: var(--color-cool-gray);
  margin-top: calc(var(--spacing-tiny) * 0.4);
}

.free {
  display: block;
  font-size: calc(var(--fsize-sm) * 0.8);
  color: var(--color-marine);
  margin-top: calc(var(--spacing-tiny) * 0.7);
}

@media (max-width: 900px) {
  .type {
    font-size: calc(var(--fsize-default) * 0.8);
  }
  .price {
    font-size: calc(var(--fsize-sm) * 0.9);
  }
}

@media (max-width: 660px) {
  .option {
    display: flex;
    padding: calc(var(--spacing-tiny) * 1.5);
    gap: calc(var(--spacing-tiny) * 1.5);
    justify-content: flex-start;
  }
  .icon,
  .free,
  .price {
    margin: 0;
  }
  .content {
    position: relative;
    top: calc(var(--spacing-tiny) * 0.6);
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-tiny) * 0.4);
  }
}
