.form {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-sm) * 0.8);
}

.field {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-tiny) * 0.7);
  position: relative;
}

.input {
  padding: calc(var(--spacing-tiny) * 1.2);
  border: solid 1px var(--color-cool-gray-transparent);
  border-radius: var(--radius-tiny);
  outline: none;
  font-size: var(--fsize-sm);
  font-weight: var(--fweight-md);
}

.label {
  font-size: calc(var(--fsize-sm) * 0.9);
  color: var(--color-marine);
  font-weight: var(--fweight-md);
}

.error {
  border-color: var(--color-strawberry);
}

.feedback {
  color: var(--color-strawberry);
  position: absolute;
  font-size: calc(var(--fsize-sm) * 0.9);
  font-weight: var(--fweight-lg);
  right: 0;
}

@media (max-width: 900px) {
  .input {
    font-size: calc(var(--fsize-sm) * 0.9);
  }
  .label {
    font-size: calc(var(--fsize-sm) * 0.8);
  }
  .feedback {
    font-size: calc(var(--fsize-sm) * 0.8);
  }
}

@media (max-width: 780px) {
  .input {
    font-size: calc(var(--fsize-sm) * 0.8);
    padding: calc(var(--spacing-tiny) * 1);
  }
  .label {
    font-size: calc(var(--fsize-sm) * 0.7);
  }
  .feedback {
    font-size: calc(var(--fsize-sm) * 0.7);
  }
}

@media (max-width: 660px) {
  .input {
    font-size: calc(var(--fsize-sm) * 0.9);
  }
  .label {
    font-size: calc(var(--fsize-sm) * 0.88);
  }
}
