.steps {
  flex-basis: 32%;
  border-radius: var(--radius-tiny);
  padding: var(--spacing-regular) var(--spacing-sm);
  background-image: url("../../assets/images/bg-sidebar-desktop.svg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}
