.app {
  min-height: calc(var(--spacing-huge) * 1.2);
  width: 65%;
  padding: calc(var(--spacing-tiny) * 1.5);
  display: flex;
  gap: calc(var(--spacing-regular) * 1.5);
  background-color: var(--color-alabaster);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-light);
}

.app > main {
  border-radius: var(--radius-sm);
  padding: var(--spacing-sm);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
