@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  src: url("./fonts/ubuntu-regular-webfont.woff2") format("woff2")
    url("./fonts/ubuntu-regular-webfont.woff") format("woff")
    url("./fonts/Ubuntu-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  src: url("./fonts/ubuntu-medium-webfont.woff2") format("woff2")
    url("./fonts/ubuntu-medium-webfont.woff") format("woff")
    url("./fonts/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Ubuntu";
  src: url("./fonts/ubuntu-bold-webfont.woff2") format("woff2")
    url("./fonts/ubuntu-bold-webfont.woff") format("woff")
    url("./fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 700;
}

:root {
  /* COLORS */
  --color-marine: hsl(213, 96%, 18%);
  --color-next-btn-hover: hsl(213, 95%, 32%);
  --color-purplish: hsl(243, 100%, 62%);
  --color-confirm-btn-hover: hsl(243, 64%, 41%);
  --color-pastel: hsl(228, 100%, 84%);
  --color-light: hsl(206, 94%, 87%);
  --color-strawberry: hsl(354, 84%, 57%);
  --color-cool-gray: hsl(231, 11%, 63%);
  --color-back-btn-hover: hsl(233, 8%, 53%);
  --color-cool-gray-transparent: hsla(234, 19%, 78%, 0.767);
  --color-light-gray: hsla(229, 24%, 87%, 0.918);
  --color-light-gray-2: hsl(228, 24%, 96%);
  --color-magnolia: hsl(217, 100%, 97%);
  --color-alabaster: hsl(231, 100%, 99%);
  --color-white: hsl(0, 0%, 100%);

  /* TYPOGRAPHY */
  --fsize-tiny: 1rem;
  --fsize-sm: 1.4rem;
  --fsize-default: 1.6rem;
  --fsize-md: 1.8rem;
  --fsize-lg: 2.1rem;
  --fsize-xlg: 3rem;

  --fweight-sm: 400;
  --fweight-md: 500;
  --fweight-lg: 700;

  /* SPACING */
  --desktop-width: 144rem;
  --mobile-width: 37.5rem;
  --spacing-tiny: 1rem;
  --spacing-sm: 3rem;
  --spacing-regular: 5rem;
  --spacing-md: 10rem;
  --spacing-lg: 20rem;
  --spacing-xxl: 35rem;
  --spacing-huge: 50rem;

  /* BORDER-RADIUS */
  --radius-tiny: 0.6rem;
  --radius-sm: 2rem;
  --radius-md: 5rem;
  --radius-lg: 10rem;
  --radius-huge: 50rem;

  /* BOX SHADOW */
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 1rem 5rem rgba(0, 0, 0, 0.08);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: var(--fsize-default);
  font-weight: var(--fweight-sm);
  box-sizing: border-box;
  background-color: var(--color-magnolia);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
